.question-text{
    font-family: 'Karla' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #293264;
}
hr{
    width: 100%;
    border: 01px solid #DBDEF0;
    margin: 20px 0;
}
.answer{
    border: none;
    color: #293264;
    background-color: transparent;
    border: 1px solid #4D5B9E;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 8px;
    margin: 15px 7px;
    min-width: 100px;
    cursor: pointer;
    padding: 5px 7px;
    /* background-color: #D6DBF5;
    border-color: #D6DBF5; */
}
.answer:hover{
    background-color: #DBDEF5;
}
.answer.selected{
    background-color: #DBDEF5;
}
.answer.wrong{
    background-color: #F8BCBC;
}
.answer.correct{
    background-color: #94D7A2;
    border: none;
}
.answer:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}